* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("https://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  color: white;
  margin-top: 107px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgb(46 43 43 / 50%);
  padding: 20px;
  box-shadow: 4px 4px 51px white;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 0;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.password-toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  cursor: pointer;
}

.btn {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #0069d9;
}

.social-login {
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-login-buttons {
  display: flex;
  justify-content: center;
}

.social-login-buttons a {
  display: inline-block;
  margin: 0 10px;
  background-color: #fff;
  color: #000;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.social-login-buttons a:hover {
  background-color: #ddd;
  border-color: #ccc;
}

.signup {
  margin-top: 20px;
  text-align: center;
}

.signup p {
  font-size: 16px;
}

.signup a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}